<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="FlowFund"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLOWFUNDPART2">

        <activity
            android:name=".MyStatementActivity"
            android:exported="false" />

        <activity
            android:name=".GroupStatementActivity"
            android:exported="false" />

        <activity
            android:name=".MissedPaymentsActivity"
            android:exported="false" />

        <activity
            android:name=".ScheduleMeetingActivity"
            android:exported="false" />

        <activity
            android:name=".MeetingsActivity"
            android:exported="false" />

        <activity
            android:name=".PayoutScheduleActivity"
            android:exported="false" />

        <activity
            android:name=".GroupSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".UnlockActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FLOWFUNDPART2">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>